.main-container {
  max-width: 1366px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.question-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &-container {
    // max-width: 1366px;
    // margin: 0 auto;
    // position: relative;

    & > .btn-wrapper {
      display: flex;
      justify-content: flex-end;
      margin-top: 20px;
      button {
        cursor: pointer;
        font-family: Roboto, sans-serif;
        border: 1px solid #000;
        background: transparent;
        padding: 5px 10px;
        font-size: 15px;

        &:hover {
          background-color: #000;
          color: #fff;
        }
      }
    }
  }

  .question-title {
    text-align: center;
    font-size: 32px;
    font-family: Roboto, sans-serif;
  }

  .questions-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .radio-label {
      font-size: 18px;
      cursor: pointer;
      input {
        margin-right: 10px;
      }
    }
  }
}

.results-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2 {
    text-align: center;
    font-size: 32px;
  }

  p {
    font-size: 20px;
  }

  button {
    cursor: pointer;
    font-family: Roboto, sans-serif;
    border: 1px solid #000;
    background: transparent;
    padding: 5px 10px;
    font-size: 15px;

    &:hover {
      background-color: #000;
      color: #fff;
    }
  }
}